body {
    font-family: Arial, sans-serif;
    background-color: #f9f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.task-list {
    background-color: #ffe6e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    color: #ff66b2;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #ff3399;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background: none;
    border: none;
    font-size: 18px;
    color: #ff3399;
    cursor: pointer;
    outline: none;
}

.add-task {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ff66b2;
    border-radius: 5px;
    width: 70%;
}

#addButton {
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.date-time {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
